*{
	position: relative;
}
body{
	width:700px;
	margin: 0 auto;
}
p:before{
	content: "　　";
}
div{
	text-align: center;
}
#canvas_src{
	display: none;
}
#jd{
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px 0;
	padding: 0;
	line-height: 40px;
	color: #000;
	border: 1px outset #000;
}
#jd_bar{
	background: #08F;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: -1;
}
#out_info{
	width: 100%;
	height: 200px;
	overflow: scroll;
	border: solid 1px #000;
	text-align: left;
}